@{
    ViewData["Title"] = "KhumaloCraft";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KhumaloCraft Emporium</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://images.vexels.com/media/users/3/317529/raw/a36f311e4d80355b1e974ab92e21733d-african-masks-pattern-design.jpg');
            background-size: cover;
            background-position: center;
        }

        .container {
            text-align: center;
            padding: 50px 20px;
            background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background to improve readability */
            border-radius: 10px;
            max-width: 800px;
            margin: 50px auto;
        }

        h1 {
            font-size: 2.5em;
            color: #4a4a4a;
        }

        p {
            color: #666;
            font-size: 1.1em;
            line-height: 1.6;
            margin-bottom: 30px;
        }

        .button {
            text-decoration: none;
            color: white;
            background-color: #555;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1em;
            transition: transform 0.3s, box-shadow 0.3s;
            margin: 10px;
        }

            .button:hover {
                transform: translateY(-3px);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            }

        footer {
            margin-top: 50px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to KhumaloCraft Emporium</h1>
        <p>Discover a world of exquisite handcrafted products that celebrate craftsmanship and creativity.</p>
        <div>
            <a href="/About/About" class="button">Learn More About Us</a>
            <a href="/Shop/Shop" class="button">Shop Now</a>
        </div>
    </div>
    <footer>
        <p>Follow us on</p>
    </footer>
</body>
</html>
